.loginContainer {
    background: #FCF4DB;
    border: 22px solid #FFAA5C;
    border-radius: 25px;
    align-self: center;
    margin: 15vh 30vw;
}

#loginForm {
    border: none;
    font-weight: 900;
    font-size: 60px;
    color: #FFFFFF;
}

#loginUserName{
    border: none;
    background-color: #CC624E;
    height: 60px;
    width: 100%;
    font-weight: 900;
    font-size: 60px;
    color: #FFFFFF;
    text-align: center;
}

#loginUserName::placeholder {
    font-weight: 900;
    font-size: 60px;
    color: #FFFFFF;
    text-align: center;
}

#loginPassword {
    border: none;
    background-color: #CC624E;
    height: 60px;
    width: 100%;
    font-weight: 900;
    font-size: 60px;
    color: #FFFFFF;
    text-align: center;
}

#loginPassword::placeholder {
    font-weight: 900;
    font-size: 60px;
    color: #FFFFFF;
    text-align: center;
}

#registerButtonContainer{
    width: 100%;
    text-align: right;
    margin-bottom: 30px;
}

#registerButton {
    border: none;
    background-color: #FCF4DB;
    font-weight: 900;
    font-size: 48px;
    padding: 2px 15px;
    color: #CC624E;
    text-align: right;
}

#registerButton:hover {
    background: #67889D;
    background-image: linear-gradient(180deg, rgba(255,255,255,0.50) 0%, rgba(255,255,255,0.50) 100%);
    border-radius: 25px;
}

#loginButtonContainer {
    width: 100%;
    margin-top: 30px;
}

#loginButton {
    border: none;
    background-color: #FCF4DB;
    font-weight: 900;
    font-size: 48px;
    padding: 2px 15px;
    color: #CC624E;
    text-align: right;
}

#loginButton:hover {
    background: #67889D;
    background-image: linear-gradient(180deg, rgba(255,255,255,0.50) 0%, rgba(255,255,255,0.50) 100%);
    border-radius: 25px;
}