@import "article.css";
@import 'navigation.css';
@import 'login.css';
@import 'friend.css';
@import 'message.css';
@import 'task.css';
@import 'event.css';

*{
    font-family: 'Raleway', sans-serif;
}

.hidden {
    display: none;
}

html {
    height: 100vh;
    width: 100vw;
}

#container {
    height: 100vh;
    width: 100vw;
    background: #FCF4DB;
    overflow: hidden;
}

.dashboardContainer {
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
}

.topContainer {
    flex-basis: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.eventTaskContainer {
    flex-basis: 40%;
    display: flex;
    flex-wrap: wrap;
}

.italicized {
    font-style: italic
}