.navigation {
    background: #67889D;
    background-image: linear-gradient(180deg, rgba(255,255,255,0.50) 0%, rgba(255,255,255,0.50) 100%);   
    height: 15vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.nav__logo {
    height: 14vh;
}

.nav__title {
    font-weight: 900;
    font-size: 120px;
    color: #CC624E;
}

#logoutButton {
    border: none;
    background-color: #67889D;
    background-image: linear-gradient(180deg, rgba(255,255,255,0.50) 0%, rgba(255,255,255,0.50) 100%);
    font-weight: 900;
    font-size: 30px;
    color: #FFFFFF;
}

#logoutButton:hover {
    border-bottom: 20px solid #CC624E;
    border-radius: 5px;
}

.logoutButtonContainer {
    flex-basis: 56%;
    text-align: end;
}