#taskDialog {
    flex-basis: 15%;
    background: #FCF4DB;
    border: 22px solid #FFAA5C;
    border-radius: 25px;
    padding: 0px 15px;
    height: 350px;
    width: 650px;
    text-align: center;
    color: #FFFFFF;
}

#saveTask {
    margin-top: 5px;
    border: none;
    background: #FCF4DB;
    color: #CC624E;
    font-size: 35px;
    margin-right: 25px;
}

#saveTask:hover {
    text-decoration: underline;
}

#closeDialog {
    margin-top: 5px;
    border: none;
    background: #FCF4DB;
    color: #CC624E;
    font-size: 35px;
    margin-left: 25px;
}

#closeDialog:hover {
    text-decoration: underline;
}

#task {
    border: none;
    background-color: #CC624E;
    height: 50px;
    width: 80%;
    font-weight: 900;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 50px;
}

#task::placeholder {
    color: #FFFFFF;
}

#dateToComplete {
    border: none;
    background-color: #CC624E;
    height: 50px;
    width: 80%;
    font-weight: 900;
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
}

#dateToCompleteLabel {
    margin-top: 20px;
    border: none;
    height: 50px;
    width: 80%;
    font-weight: 900;
    font-size: 40px;
    background-color: #FCF4DB;
    color: #CC624E;
    text-align: center;
}